include ./parts/header.jade
title 404 - Evan Pipta | Full-stack Web Developer
meta( name="description", content="Personal site of a full-stack web developer from Portsmouth NH" )
meta( name="author", content="Evan Pipta" )
include ./parts/assets.jade

!= "</head>"

body
  p 404 - Page not found
  a( href="/" ) Return to the main page

  include ./parts/footer-assets.jade

!= "</html>"